.select-days{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
   

}
@media screen and (max-width: 768px) {
    .select-days{
        margin-left: 0px;
    }
    .select-days p{
font-size: .7rem;
    }
}