.flex-info{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 3rem;
}
.track-crypto-heading,.real-time-heading{
font-size: 6.5rem;
margin: 0;
}

.track-crypto-heading {
  color: var(--white);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--white);
}
.track-crypto-heading:hover {
  color: var(--black);
  -webkit-text-stroke-color: var(--white);
  transition: all 0.3s;
}
.real-time-heading {
  color: var(--blue);
}
.info-text {
  font-size: 1rem;
  color: var(--grey);
}
.btn-flex {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
  margin-top: 2rem;
}
.phone-container {
  width: 50%;
  position: relative;
  padding: 1rem;
}
.iphone {
  position: absolute;
  z-index: 100;
  min-width: 270px;
  width: 45%;
  right: 0;
  height: 440px;
}
.iphoneback {
  position: absolute;
  min-width: 200px;
  width: 34%;
  top: 6rem;
  right: 0;
  border-radius: 1.6rem;height: 360px;
}
@media only screen and (max-width: 1250px) {
  .track-crypto-heading,
  .real-time-heading {
    font-size: 5rem;
    margin: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .iphone {
    min-width: 270px;
  } 
  .display{
    display: none;
  }
  .gradient {
    min-width: 200px;
    top: 6rem;
  }
}
@media only screen and (max-width: 800px) {
  .flex-info {
    flex-direction: column;
  }
  .display{
    display: none;
  }
  .phone-container {
    margin: auto;
    display: block;
    margin-top: 3rem;
  }
  .iphone {
    left: 0.5rem;
  }
  .iphoneback {
    left: 25%;
  }
  .left-component{
    width: 100%;
  }
  .info-text{
    text-align: center;
  }
  .btn-flex{
    justify-content: center;
  }
  .track-crypto-heading,
  .real-time-heading {
    font-size: 3rem;
    text-align: center;
  }
  .track-crypto-heading{
  -webkit-text-stroke-width: 1px;

  }
} 